.headerContainer{
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
}
.image{
   
    width: 130;
}
.navItems > ul > li {
    margin: 10;
}
.navItems > ul {
  display: flex;
  list-style: none;
}
.searchContainer{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.searchBar{
    margin-right: 20;
}