.headerContainer{
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
}
image{
   
    width: 130;
}
.navItems > ul > li {
    margin: 10;
}
.navItems > ul {
  display: flex;
  list-style: none;
}
.searchContainer{
    display: flex;
    flex-direction: row;
}
.searchBar{
    margin-right: 20;
}
.allCards{
    display: flex;
    flex-wrap: wrap;
    margin: 10;
}
.cardContainer{
    border: 1px solid black;
    background-color: #f0f0f0;
    width: 200;
    margin: 5;
    padding: 10;

}
.restroImage{
    width: 100%;
    height: 50%;
}
.shimmer{
    border: 1px solid black;
    background-color: #f0f0f0;
    width: 200; 
    height: 400;
    margin: 5;
    padding: 10;
}

.shimmer-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 10;
}
.headerButtonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
   margin-top: 15;
   
}