.headerContainer{
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
}
image{
   
    width: 130;
}
.navItems > ul > li {
    margin: 10;
}
.navItems > ul {
  display: flex;
  list-style: none;
}
.searchContainer{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.searchBar{
    margin-right: 20;
}
.allCards{
    display: flex;
    flex-wrap: wrap;
    /* padding: 10; */
    /* flex-direction: row; */
    /* border: 1px solid brown; */
    /* justify-content: space-between; */
    margin: 20;
}

.cardContainer{
    border: 1px solid black;
  
    width: 200; 
     /* height: 400; */
    margin: 10;
    padding: 10;

}
.restroImage{
    width: 100%;
    height: 50%;
}